<div class="py-2 d-flex ">
  <button mat-raised-button
          class="m-2"
          [matMenuTriggerFor]="actionItems">actions
  </button>
  <mat-menu #actionItems="matMenu">
    <button mat-menu-item (click)="addUsers()">
      Add users
      <mat-icon class="cr-pointer text-info" >add_circle_outline</mat-icon>
    </button>
    <button
      mat-menu-item
      [disabled]="!dataSource.data.length"
      (click)="removeUsers()"
    >
      Remove users
      <mat-icon class="cr-pointer text-danger" >delete</mat-icon>
    </button>
    <button
      mat-menu-item
      [disabled]="!dataSource.data.length"
      (click)="onChangeUsersStatus(true)"
    >
      Enable users
      <mat-icon  class="text-success ">check_circle_outline</mat-icon>

    </button>
    <button
      mat-menu-item
      [disabled]="!dataSource.data.length"
      (click)="onChangeUsersStatus(false)"
    >
      Disable users
      <mat-icon class="text-danger">cancel</mat-icon>
    </button>
  </mat-menu>
    <mat-form-field class="me-2">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="filterByTerm($event)" placeholder="Search columns">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Level</mat-label>
      <mat-select #levelValue (valueChange)="filterByLevel(levelValue.value)">
        <mat-option value="">AllLevel</mat-option>
        <mat-option value="Admin">Admin</mat-option>
        <mat-option value="User">User</mat-option>
        <mat-option value="Guest">Guest</mat-option>
      </mat-select>
    </mat-form-field>


</div>
<div class="mat-elevation-z8 demo-table">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef> Date</th>
      <td mat-cell *matCellDef="let element"> {{element.createdAt | date}} </td>
    </ng-container>

    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} {{element.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef> Email</th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef> Status</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon *ngIf="element.status" class="text-success ">check_circle_outline</mat-icon>
        <mat-icon *ngIf="!element.status" class="text-danger">cancel</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="Level">
      <th mat-header-cell *matHeaderCellDef> Level</th>
      <td mat-cell *matCellDef="let element"> {{element.level}} </td>
    </ng-container>
    <ng-container matColumnDef="Edit">
      <th mat-header-cell *matHeaderCellDef> Edit</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon class="cr-pointer" (click)="editUser(element)">edit</mat-icon>
      </td>

    </ng-container>
    <ng-container matColumnDef="Delete">
      <th mat-header-cell *matHeaderCellDef> Delete</th>
      <td mat-cell *matCellDef="let element; let i = index">
        <mat-icon class="cr-pointer text-danger" (click)="deleteUser(i)">delete</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


</div>
<mat-paginator [pageSizeOptions]="[5, 10, 20]"
               (page)="getData($event)"
               showFirstLastButtons
               aria-label="Select page of periodic elements">
</mat-paginator>
